@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400;500;700&family=Smooch&display=swap");

* {
  margin: 0rem;
  padding: 0rem;
}

:root {
  --primary-color: #283618;
  --logo-color: #606c38;
  --secondary-color: #ebe5c2;
  --alternate-color: #dda15e;
  --positive-color: #a76730;
  --negative-color: rgb(231, 0, 0);
  --disable-color: rgb(244, 241, 241);
  --hover: rgb(248, 248, 248);
  --snackbar: rgb(36, 49, 79);
  --star: rgb(255, 187, 0);
  --lightblue: rgb(118, 207, 240);
  --pink: rgb(192, 231, 255);
  --dk-pink: rgb(111, 197, 251);
  --red: rgb(255, 137, 137);
  --dk-red: rgb(206, 21, 21);
  --blue: rgb(176, 229, 255);
  --dk-blue: rgb(104, 197, 255);
  --purple: rgb(169, 175, 223);
  --dk-purple: rgb(64, 66, 202);
}

body {
  font-family: "Roboto", poppins;
}

/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 1;
  background-color: var(--secondary-color);
}
.logo .a {
  color: var(--logo-color) !important;
  font-weight: bold;
}
nav ul {
  display: flex;
  text-decoration: none;
}

nav ul li {
  list-style-type: none;
  margin-right: 3rem;
}

/* navbar responsiveness */
/* @media screen and (max-width: 480px) {
  nav ul li {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 416.6px) {
  nav ul li {
    margin-right: 1.5rem;
  }
}
@media screen and (max-width: 393.6px) {
  nav ul li:nth-child(3) {
    display: none;
  }
  nav ul li {
    margin-right: 1.5rem;
    padding: auto 0rem;
  }
} */

.header span {
  color: var(--negative-color);
  font-family: poppins;
}

.content {
  margin: 0 auto;
  max-width: 90%;
  min-height: calc(100vh - 180px);
  font-family: "roboto";
}
.content .a {
  font-size: large;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

nav .a:hover {
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
}
.a:hover {
  cursor: pointer;
}

main {
  box-sizing: border-box;
  display: block;
  text-align: center;
  margin: auto;
  width: 60%;
  
  line-height: 3rem;
  margin-top: 5rem;
  font-size: 2rem;
}
.main_btn {
  margin-top: 2rem;
}
.btn {
  padding: 0.5rem 1rem;
  margin: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0rem 0.2rem 0.4rem 0rem grey;
  font-size: 1rem;
  font-family: "poppins";
  color: white;
}

.btn:hover {
  background-color: var(--secondary-color);
  transition: 0.3s;
  color: var(--primary-color);
  cursor: pointer;
}

.btn_primary {
  color: var(--secondary-color);
  background-color: var(--alternate-color);
}

.btn_secondary {
  background-color: var(--positive-color);
  color:white;
}

.side-nav ul li .a {
  color: var(--primary-color);
}

#active {
  font-weight: bold;
  font-size: 1.3rem;
  text-shadow: 4px 4px 0px var(--secondary-color);
}

.main-img {
  margin: auto;
  width: 70%;
  height: 70%;
  margin: 3rem auto;
  border-radius: 10px;
  box-shadow: rgba(0,0,0, 0.2) 0px 5px 7px;
}

.install {
  text-align: center;
  margin-top: 6rem !important;
  max-width: 100%;
  margin: auto;
}

.install span {
  color: var(--primary-color);
  font-size: x-large;
  font-weight: bold;
}

/* how to use */

.gif-example {
  margin: 2rem auto 8rem;
  text-align: center;
}

.gifs {
  border: 1px solid var(--alternate-color);
  margin-top: 2rem;
  width: 90%;
  box-shadow: 0.2rem 0.2rem 0.4rem 0.2rem grey;
}

@media screen and (max-width: 1020px) {
  .gifs {
    width: 100%;
  }
}

#about{
  width: 100%;
  height: 100%;
  background-color: blue;
}